<div class="container">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="" id="">
        <label for="mob">Mobile No</label>
        <input type="text" class="form-control" name="" id="">
    </div>
    <div class="form-grpup">
        <label for="">Verify Captcha</label>
        <div [ngStyle]="ApplyEffect"><h1>{{code}}</h1></div>
        <br>
        <div>
            <button (click)="ngOnInit()" class="btn btn-primary">New Code</button>
        </div>
    </div>
</div>