<h2>Product Details</h2>
<dl>
    <dt>Name</dt>
    <dd>
        <!-- interpolation -->
        <!-- <input type="text" value="{{product.Name}}"> --> 
        <!-- property binding -->
        <input type="text" [value]="product.Name">
    </dd>
    <dt>Price</dt>
    <dd>{{product.Price}}</dd>
    <dt>Quantity</dt>
    <dd>{{product.Qty}}</dd>
    <dt>Manufactured</dt>
    <dd>{{product.mfd.toLocaleDateString()}}</dd>
    <dt>Stock status</dt>
    <dd>{{(product.InStock == true) ? "Avialiable" : "Out of stock"}}</dd>
    <dt>Total</dt>
    <dd>{{product.Qty*product.Price}}</dd>
</dl>
<button class="btn btn-lg btn-primary">Submit</button>