* {
  margin: 0;
  padding: 0;
}
h2 {
  background-color: darkcyan;
  color: white;
  text-align: center;
  width: 100%;
}
input[type="email"] {
  border: solid 2px darkcyan;
  margin-right: 5px;
}
button {
  background-color: darkcyan;
  color: white;
}
